<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../libs/bootstrap-4.5.2-dist/css/bootstrap.min.css">

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="../libs/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>




    <script src="../libs/angular-1.8.0/angular.js"></script>
    <script src="../libs/angular-1.8.0/angular-cookies.js"></script>
    <script src="../libs/angular-1.8.0/angular-resource.js"></script>
    <script src="../js/appModule.module.js"></script>
    <script src="../js/appConstants.component.js"></script>
    <script src="../js/clients.component.js"></script>
    <script src="../js/createClientAddModal.js"></script>


    <link rel="stylesheet" type="text/css" href="../libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap-4.5.2-dist/css/bootstrap-grid.css">

    <!-- For uibModal directive -->



    <script src="../libs/angular-1.8.0/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="../libs/angular-1.8.0/angular-touch.js"></script>
    <script src="../libs/angular-1.8.0/angular-animate.js"></script>


    <!-- <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet"  type="text/css" href="../css/main-style.css">
    <link rel="stylesheet"  type="text/css" href="../css/afterLog.css">
    <link rel="stylesheet"  type="text/css" href="../css/clients.css">
    <link rel="stylesheet"  type="text/css" href="../css/modalsStyle.css">

    <script src="../js/scrollEvent.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Clients</title>
</head>
<body  ng-app="appModule" ng-controller="clientsController as c" ng-cloak>

<div class="container-fluid sticky-top header" id="navbar">
    <nav class="navbar  navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="#">
            <img class="mr-2" src="../img/logo.png" width="35px" >
            <span>TAXBOOK</span>
        </a>


        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" ></span>
        </button>


        <div class="collapse" id="navbarSupportedContent">
            <div class="overlay"></div>
        </div>


        <div class="collapse navbar-collapse align-content-center" id="navbarSupportedContent">

            <button class="close" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >X</button>

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="../index.jsp">Головна</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="incomeBook.component.html">Електронна книга доходів</a>
                </li>
                <li class="nav-item ml-3 active">
                    <a class="nav-link" href="client.component.html">Клієнти</a>
                </li>
                <button class="btn btn-toggler-out" ng-click="c.invalidateSession()">Вийти з профілю</button>
                <button class="btn btn-toggler-out" ng-click="c.modalOpenAdd()">Додати Клієнта</button>
            </ul>

        </div>

        <form class="form-inline ml-auto">

            <button class="btn btn-log-out" ng-click="c.invalidateSession()">Вийти з профілю</button>

        </form>

    </nav>
</div>


<div class="container-fluid p-0 page-header">
    <div class="container-bg text-center pr-4 pl-4 mb-4">
        <h1 ><span style="font-family:'Museo Sans Cyrl 900', sans-serif ">Taxbook</span>
            <p class="mt-3 mb-0"><small class="small-about">Швидкий та зручний сервіс для разрахунку оподаткування та введення книги доходів ФОП України.
            </small></p>
            <p class="about"><small class="small-about">Електронна книга доходів. Календар сплат. База контактів контрагентів.</small></p></h1>
    </div>

</div>

<article  >

    <div class="side-button">
        <button class="float-md-left" data-toggle="modal" data-target="#addClientModal" ng-click="c.modalOpenAdd()">Додати Клієнта     <span style="font-size: 30px; margin-left: 15px">&#8594;</span></button>
    </div>
    <div  class="row">
        <div class="col-xl-9 form-filter">
            <form class="filter text-center">
                <div class="form-group date">
                    <label  class="">Дата створення:</label><br>
                   <input type="datetime-local" class="form-control mr-2" id="start"  name="date-start" ng-model="c.filterOptions.createDateFrom">
                    <input type="datetime-local" class="form-control" id="end" name="date-end" ng-model="c.filterOptions.createDateTo"><span class="validity"></span>
                </div>

                <div class="form-group phone">
                    <label  class="">Контактний номер:</label><br>
                    <input  type="phone" maxlength='13'  class="form-control"  placeholder="+" ng-model="c.filterOptions.contacts">
                </div>

                <div class="form-group client" id="clients">
                    <label  class="">Клієнт:</label><br>
                    <select class="form-control" id="clientList" style="padding-top: 5px; padding-left: 3px"  ng-model="c.filterOptions.clientId"
                            ng-options="client.clientId as client.name for client in c.clients">
                        <option value=''></option>
                    <!--    ng-model="c.filterOptions.clientId"
                        ng-options="client.clientId as client.name for client in c.clients"-->
                    </select>
                    <!--<input name="name" id="client" type="text" class="form-control">-->
                </div>
                <div class="buttons">
                <button type="submit" name="submit" class="btn btn-find" ng-click="c.loadFilteredClients()">Знайти</button>
                <button class="btn btn-add-client" ng-click="c.modalOpenAdd()">Додати Клієнта</button>
                </div>

            </form>

            <section class="text-center mx-auto">
                <div class="row wow fadeIn">
                    
                    <div class="col-lg-3 col-md-6 mb-5" ng-repeat="client in c.filterClients">
                        <form class="form" action="" method="">
                            <fieldset disabled="disabled">
                            <div class="card">


                                <div class="card-header text-center">
                                    <h2 class="header">{{client.name}}</h2>
                                </div>

                                <div class="card-body text-center">

                                    <div class="form-group">
                                        <label>Контактна інформація:</label>
                                        <textarea type="contacts" style="min-height: 45px; height:50px; max-height: 100px;" class="form-control">{{client.contacts}}</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>ЄДРПОУ:</label>
                                        <input type="text"  class="form-control" value="{{client.edrpou}}">
                                    </div>

                                    <div class="form-group">
                                        <label>Записи:</label>
                                        <textarea class="form-control text-left" style="min-height: 50px; height:90px; max-height: 90px;" rows="2">{{client.notes}}</textarea>
                                    </div>

                                </div>

                                <div class="card-footer text-center">
                                    <div class="form-group">
                                        <label>   Дата створення:</label>
                                        <input type="datetime-local"  class="form-control" value="{{client.createDate | date: 'yyyy-MM-ddThh:mm'}}">
                                    </div>
                                </div>




                            </div>
                            </fieldset>
                        </form>
                        <button class="btn card-btn" ng-click="c.modalOpenUpdate(client)">Редагувати</button>
                    </div>



                </div>
            </section>



        </div>


   </div>






</article>


<footer class="page-footer font-small">

    <div class="container-fluid text-center">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->

            <div class="col-md-6 mx-auto navigation">


                <ul class="list-unstyled w-100">
                    <li>
                        <a href="../index.jsp">Головна</a>
                    </li>
                    <li>
                        <a href="incomeBook.component.html">Електронна книга доходів</a>
                    </li>
                    <li>
                        <a href="client.component.html">Клієнти</a>
                    </li>
                </ul>

            </div>

            <!-- Grid column -->
            <div class="col-md-6 mx-auto developers">

                <!-- Links -->
                <h6>Команда Розробників:</h6>

                <ul class="list-unstyled">
                    <li>
                        Владислав Дрозд -
                        <a href="https://github.com/VladislavDrozd">https://github.com/VladislavDrozd</a>
                    </li>
                    <li>
                        Рилов Володимир -
                        <a href="https://github.com/VladimirRylov">https://github.com/VladimirRylov</a>
                    </li>
                    <li>
                        Анастасія Мустратова -
                        <a href="https://www.instagram.com/anastasia.mustratova">https://www.instagram.com/anastasia.mustratova</a>
                    </li>
                </ul>

            </div>

        </div>


    </div>
    <div class="footer-copyright text-center py-3">© 2020 Миколаїв
    </div>
</footer>



</body>
</html>