<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../libs/bootstrap-4.5.2-dist/css/bootstrap.min.css">

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="../libs/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/main-style.css">
    <link rel="stylesheet" href="../css/afterLog.css">

    <script src="../libs/angular-1.8.0/angular.js"></script>
    <script src="../libs/angular-1.8.0/angular-cookies.js"></script>
    <script src="../libs/angular-1.8.0/angular-resource.js"></script>
    <script src="../js/incomeBookTable.module.js"></script>
    <script src="../js/incomeBookTable.component.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/incomeBookTable.styles.css">
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap-4.5.2-dist/css/bootstrap-grid.css">


    <!--   <link rel="stylesheet" href="style.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">



</head>
<body ng-app="incomeBookTableModule" ng-controller="incomeBookTableController as vm" ng-cloak>
    <div class="container-fluid sticky-top header" id="navbar">
        <nav class="navbar  navbar-expand-lg navbar-light bg-light ">
            <a class="navbar-brand" href="#">
                <img class="mr-2" src="../img/logo.png" width="35px" >
                <span>TAXBOOK</span>
            </a>


            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>




            <div class="collapse" id="navbarSupportedContent">
                <div class="overlay"></div>
            </div>


            <div class="collapse navbar-collapse align-content-center" id="navbarSupportedContent">

                <button class="close" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >X</button>

                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="#">Головна</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="#">Електронна книга доходів</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="#">Клієнти</a>
                    </li>
                    <li class="nav-item ml-3 calendar" >
                        <a class="nav-link" href="#">Календар сплат</a>
                    </li>
                    <button class="btn btn-toggler-out">Вийти з профілю</button>
                </ul>

            </div>

            <form class="form-inline ml-auto">

                <button class="btn btn-log-out">Вийти з профілю</button>

            </form>

        </nav>
    </div>


    <div class="container-fluid p-0 page-header">
        <div class="container-bg text-center pr-4 pl-4 mb-4">
            <h1 ><span style="font-family:'Museo Sans Cyrl 900', sans-serif ">Taxbook1</span>
                <p class="mt-3 mb-0"><small>Швидкий та зручний сервіс для разрахунку оподаткування та введення книги доходів ФОП України.
                </small></p>
                <p class="about"><small>Електронна книга доходів. Календар сплат. База контактів контрагентів.</small></p></h1>
        </div>

    </div>

    <article>
        <div ng-repeat="month in vm.recordMonthList">
            <div class="row">
                <div class="col-1">{{month.month}}</div>
                <div class="col-1">{{month.monthIncome}}</div>
                <div class="col-1">{{month.monthRefund}}</div>
                <div class="col-1">{{month.monthRevised}}</div>
                <div class="col-1">{{month.monthFreeReceived}}</div>
                <div class="col-1">{{month.monthTotalIncome}}</div>
                <div class="col-1">{{month.monthAnotherProfitIncome}}</div>
                <div class="col-1">{{month.monthTotalIncomePlusAnotherProfitType}}</div>
            </div>
            <div ng-repeat="day in month.recordDayArray">
                <div class="row">
                    <div class="col-1">{{day.day | date: 'dd' + ' '  + month.month}}</div>
                    <div class="col-1">{{day.dayIncome}}</div>
                    <div class="col-1">{{day.dayRefund}}</div>
                    <div class="col-1">{{day.dayRevised}}</div>
                    <div class="col-1">{{day.dayFreeReceived}}</div>
                    <div class="col-1">{{day.dayTotalIncome}}</div>
                    <div class="col-1">{{day.dayAnotherProfitIncome}}</div>
                    <div class="col-1">{{day.dayTotalIncomePlusAnotherProfitIncome}}</div>
                </div>
                <div ng-repeat="record in day.recordArray">
                    <div class="row">
                        <div class="col-1 cell">{{record.dateTime | date: 'dd.MM HH:mm'}}</div>
                        <div class="col-1 cell">{{record.income}}</div>
                        <div class="col-1 cell">{{record.refund}}</div>
                        <div class="col-1 cell">{{record.revised}}</div>
                        <div class="col-1 cell">{{record.freeReceived}}</div>
                        <div class="col-1 cell">{{record.total}}</div>
                        <div class="col-2 cell">{{record.notes}}</div>
                        <div class="col-1 cell">{{record.clientId}}</div>
                        <div class="col-1 cell">{{record.anotherProfitType}}</div>
                        <div class="col-1 cell">{{record.anotherProfitIncome}}</div>
                        <div class="col-1">
                            <button ng-click="vm.printRecord(record)">P R I N T</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </article>
    </atricle>


    <footer class="page-footer font-small">

        <div class="container-fluid text-center">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->

                <div class="col-md-6 mx-auto navigation">


                    <ul class="list-unstyled w-100">
                        <li>
                            <a href="#!">Головна</a>
                        </li>
                        <li>
                            <a href="#!">Електронна книга доходів</a>
                        </li>
                        <li>
                            <a href="#!">Клієнти</a>
                        </li>
                        <li>
                            <a href="#!">Календар Виплат</a>
                        </li>
                    </ul>

                </div>

                <!-- Grid column -->
                <div class="col-md-6 mx-auto developers">

                    <!-- Links -->
                    <h6>Команда Розробників:</h6>

                    <ul class="list-unstyled">
                        <li>
                            Владислав Дрозд -
                            <a href="#!">https://github.com/VladislavDrozd</a>
                        </li>
                        <li>
                            Рилов Володимир -
                            <a href="#!">https://github.com/VladislavDrozd</a>
                        </li>
                        <li>
                            Анастасія Мустратова -
                            <a href="#!">https://github.com/VladislavDrozd</a>
                        </li>
                    </ul>

                </div>

            </div>


        </div>
        <div class="footer-copyright text-center py-3">© 2020 Миколаїв
        </div>
    </footer>


<script>


    //    function myFunction(x) {
    //
    //      if (x.matches) { // If media query matches
    //            function scrollFunction() {
    //              if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
    //                document.getElementById("navbar").getElementsByClassName("navbar-brand")[0].style.display = "none";
    //              } else {
    //                document.getElementById("navbar").getElementsByClassName("navbar-brand")[0].style.display = "block";
    //              }
    //            }
    //
    //      } else {
    //
    //
    //      }
    //    }


    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 99 || document.documentElement.scrollTop > 99) {
            document.getElementById("navbar").style.backgroundColor="rgba(255,255,255,0.9)";
        } else {
            document.getElementById("navbar").style.backgroundColor="rgba(0,0,0,0)";
        }
    }

    //     var x = window.matchMedia("(max-width: 590px)")
    //    myFunction(x) // Call listener function at run time
    //    x.addListener(myFunction) // Attach listener function on state changes




</script>


</body>
</html>
