<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../libs/bootstrap-4.5.2-dist/css/bootstrap.min.css">

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="../libs/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/main-style.css">
    <link rel="stylesheet" href="../css/afterLog.css">

    <script src="../libs/angular-1.8.0/angular.js"></script>
    <script src="../libs/angular-1.8.0/angular-cookies.js"></script>
    <script src="../libs/angular-1.8.0/angular-resource.js"></script>
    <script src="../js/incomeBookTable.module.js"></script>
    <script src="../js/incomeBookTable.component.js"></script>
    <script src="../js/createUpdateRecordModal.component.js"></script>

    <link rel="stylesheet" type="text/css" href="../libs/bootstrap-4.5.2-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap-4.5.2-dist/css/bootstrap-grid.css">

    <!-- For uibModal directive -->
    <script src="../libs/angular-1.8.0/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="../libs/angular-1.8.0/angular-touch.js"></script>
    <script src="../libs/angular-1.8.0/angular-animate.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
    <link rel="stylesheet" type="text/css" href="../css/incomeBookTable.styles.css">


    <!--   <link rel="stylesheet" href="style.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">



</head>
<body ng-app="incomeBookTableModule" ng-controller="incomeBookTableController as vm" ng-cloak>
    <div class="container-fluid sticky-top header" id="navbar">
        <nav class="navbar  navbar-expand-lg navbar-light bg-light ">
            <a class="navbar-brand" href="#">
                <img class="mr-2" src="../img/logo.png" width="35px" >
                <span>TAXBOOK</span>
            </a>


            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" ></span>
            </button>




            <div class="collapse" id="navbarSupportedContent">
                <div class="overlay"></div>
            </div>


            <div class="collapse navbar-collapse align-content-center" id="navbarSupportedContent">

                <button class="close" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >X</button>

                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="../index.jsp">Головна</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="incomeBook.component.html">Електронна книга доходів</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="client.component.html">Клієнти</a>
                    </li>
                    <li class="nav-item ml-3 calendar" >
                        <a class="nav-link" href="calendar.html">Календар сплат</a>
                    </li>
                    <button class="btn btn-toggler-out" ng-click="vm.invalidateSession()">Вийти з профілю</button>
                </ul>

            </div>

            <form class="form-inline ml-auto">

                <button class="btn btn-log-out" ng-click="vm.invalidateSession()">Вийти з профілю</button>

            </form>

        </nav>
    </div>


    <div class="container-fluid p-0 page-header">
        <div class="container-bg text-center pr-4 pl-4 mb-4">
            <h1 ><span style="font-family:'Museo Sans Cyrl 900', sans-serif ">Taxbook2</span>
                <p class="mt-3 mb-0"><small>Швидкий та зручний сервіс для разрахунку оподаткування та введення книги доходів ФОП України.
                </small></p>
                <p class="about"><small>Електронна книга доходів. Календар сплат. База контактів контрагентів.</small></p></h1>
        </div>

    </div>

    <article id="article">
        <div class="row justify-content-end">
            <div class="col-6 add-record-button">
                <button class="btn btn-outline-success btn-lg btn-block" ng-click="vm.addRecordModal()">Додати запис</button>
            </div>
        </div>
        <!--BEGIN MAIN TABLE HEADER-->
        <div class="table-header abt abr abb abl" style="margin-left: 15px; margin-right: 15px">
            <div class="row">
                <div class="col-12 header-cell">
                    <div class="row">
                        <div class="col-1 align-self-center">Дата запису</div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-12 abl abb">вартість проданих товарів, виконаних робіт, наданих послуг</div>
                            </div>
                            <div class="row">
                                <div class="col-4 header-cell abl">сума, грн, коп</div>
                                <div class="col-4 header-cell abl">сума повернутих коштів</div>
                                <div class="col-4 header-cell abl">скоригована сума (2-3)</div>
                            </div>
                        </div>
                        <div class="col-2 header-cell" style="display: flex; flex-direction: row; align-items: stretch;">
                            <div class="header-cell abl" style="width: 50%; display: flex; justify-content: center; align-items: center"><div>вартість безоплатно отриманих послуг</div></div>
                            <div class="header-cell abl" style="width: 50%; display: flex; justify-content: center; align-items: center"><div>всього (4 + 5)</div></div>
                        </div>
                        <div class="col-3 header-cell" style="display: flex; flex-direction: row; align-items: stretch;">
                            <div class="col-8 header-cell abl" style="display: flex; justify-content: center; align-items: center"><div>Нотатки</div></div>
                            <div class="col-4 header-cell abl" style="display: flex; justify-content: center; align-items: center"><div>Клієнт</div></div>
                        </div>
                        <div class="col-2 header-cell abl abr" style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="rb col-12 header-cell">Дохід за ставкою 15 відсотків</div>
                            </div>
                            <div class="row" style="width: 100%; display: flex; align-items: stretch">
                                <div class="col-6 header-cell abt" style="display: flex; justify-content: center; align-items: center"><div>вид доходу</div></div>
                                <div class="col-6 header-cell abl abt" style="display: flex; justify-content: center; align-items: center"><div>сума, грн</div></div>
                            </div>
                        </div>
                        <div class="col-1 header-cell" style="display: flex; justify-content: center; align-items: center">
                            <div>Дiя</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 header-cell abt">1</div>
                        <div class="col-1 header-cell abt abl">2</div>
                        <div class="col-1 header-cell abt abl">3</div>
                        <div class="col-1 header-cell abt abl">4</div>
                        <div class="col-1 header-cell abt abl">5</div>
                        <div class="col-1 header-cell abt abl">6</div>
                        <div class="col-2 header-cell abt abl"></div>
                        <div class="col-1 header-cell abt abl"></div>
                        <div class="col-1 header-cell abt abl">7</div>
                        <div class="col-1 header-cell abt abl abr">8</div>
                    </div>
                </div>
            </div>
        </div>
        <!--END MAIN TABLE HEADER-->

        <div class="table-records">
            <div class="row">
                <div class="col-12">

                    <div ng-repeat="month in vm.recordMonthList">
                        <div ng-init="showDays=false">
                            <div class="month" ng-class-even="'month-background-color-even'" ng-class-odd="'month-background-color-odd'">
                                <div class="row">
                                    <div class="col-2"><b>{{month.month}}</b></div>
                                    <div class="col-1" style="padding: 0">
                                        <button class="button-expand-collapse" ng-click="showDays = !showDays">
                                            <small ng-if="!showDays">Розгорнути &#9660</small>
                                            <span ng-if="showDays"><small>Згорнути &#9650</small></span>
                                        </button>
                                    </div>
                                    <div class="col-6"><b>Сумарний мiсячний дохiд (6 + 8) = {{month.monthTotalIncomePlusAnotherProfitType | number: 2}} грн</b></div>
                                </div>
                                <div class="row">
                                    <div class="col-1 month-cell"></div>
                                    <div class="col-1 month-cell">{{month.monthIncome | number: 2}}</div>
                                    <div class="col-1 month-cell">{{month.monthRefund | number: 2}}</div>
                                    <div class="col-1 month-cell">{{month.monthRevised | number: 2}}</div>
                                    <div class="col-1 month-cell">{{month.monthFreeReceived | number: 2}}</div>
                                    <div class="col-1 month-cell">{{month.monthTotalIncome | number: 2}}</div>
                                    <div class="col-2 month-cell"></div>
                                    <div class="col-1 month-cell"></div>
                                    <div class="col-1 month-cell"></div>
                                    <div class="col-1 month-cell">{{month.monthAnotherProfitIncome | number: 2}}</div>
                                    <div class="col-1 month-cell" style="padding: 0">
                                        <button class="button-expand-collapse" ng-click="showDays = !showDays">
                                            <small ng-if="!showDays">Розгорнути &#9660</small>
                                            <small ng-if="showDays">Згорнути &#9650</small>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- DAY BEGIN -->
                            <div ng-repeat="day in month.recordDayArray">

                                <div ng-init="showRecords=false" ng-if="showDays">
                                    <div class="day" ng-class-even="'day-background-color-even'" ng-class-odd="'day-background-color-odd'">
                                        <div class="row">
                                            <div class="col-1 day-cell">{{day.day | date: 'dd-MM'}}</div>
                                            <div class="col-1 day-cell">{{day.dayIncome | number: 2}}</div>
                                            <div class="col-1 day-cell">{{day.dayRefund | number: 2}}</div>
                                            <div class="col-1 day-cell">{{day.dayRevised | number: 2}}</div>
                                            <div class="col-1 day-cell">{{day.dayFreeReceived | number: 2}}</div>
                                            <div class="col-1 day-cell">{{day.dayTotalIncome | number: 2}}</div>
                                            <div class="col-2 day-cell"></div>
                                            <div class="col-1 day-cell"></div>
                                            <div class="col-1 day-cell"></div>
                                            <div class="col-1 day-cell">{{day.dayAnotherProfitIncome | number: 2}}</div>
                                            <div class="col-1 day-cell" style="padding: 0">
                                                <button class="button-expand-collapse" ng-click="showRecords = !showRecords">
                                                    <small ng-if="!showRecords">Розгорнути &#9660</small>
                                                    <small ng-if="showRecords">Згорнути &#9650</small>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- RECORD BEGIN -->
                                    <div ng-repeat="record in day.recordArray">
                                        <div class="record" ng-class-even="'record-background-color-even'" ng-class-odd="'record-background-color-odd'">
                                            <div class="row" ng-if="showRecords">
                                                <div class="col-1 record-cell"><div class="record-cell-child">{{record.dateTime | date: 'HH:mm'}}</div></div>
                                                <div class="col-1 record-cell"><div class="record-cell-child">{{record.income | number: 2}}</div></div>
                                                <div class="col-1 record-cell"><div class="record-cell-child">{{record.refund | number: 2}}</div></div>
                                                <div class="col-1 record-cell"><div class="record-cell-child">{{record.revised | number: 2}}</div></div>
                                                <div class="col-1 record-cell"><div class="record-cell-child">{{record.freeReceived | number: 2}}</div></div>
                                                <div class="col-1 record-cell"><div class="record-cell-child">{{record.totalIncome | number: 2}}</div></div>
                                                <div class="col-2 record-cell record-note-cell">{{record.notes}}</div>
                                                <div class="col-1 record-cell"><div class="record-cell-child">{{record.clientVO.name}}</div></div>
                                                <div class="col-1 record-cell"><div class="record-cell-child">{{record.anotherProfitType}}</div></div>
                                                <div class="col-1 record-cell"><div class="record-cell-child">{{record.anotherProfitIncome | number: 2}}</div></div>
                                                <div class="col-1 dropdown record-cell">
                                                    <button class="btn btn-primary dropdown-toggle btn-action" type="button" data-toggle="dropdown">
                                                        Action<span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <button class="dropdown-item" ng-click="vm.updateRecordModal(record)">Редагувати &#9998</button>
                                                        <button class="dropdown-item" ng-click="vm.deleteRecord(record)">Видалити &#10006</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- RECORD END -->
                                </div>
                                <!-- DAY END -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </article>




    <footer class="page-footer font-small">

        <div class="container-fluid text-center">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->

                <div class="col-md-6 mx-auto navigation">


                    <ul class="list-unstyled w-100">
                        <li>
                            <a href="../index.jsp">Головна</a>
                        </li>
                        <li>
                            <a href="incomeBook.component.html">Електронна книга доходів</a>
                        </li>
                        <li>
                            <a href="client.component.html">Клієнти</a>
                        </li>
                        <li>
                            <a href="calendar.html">Календар Виплат</a>
                        </li>
                    </ul>

                </div>

                <!-- Grid column -->
                <div class="col-md-6 mx-auto developers">

                    <!-- Links -->
                    <h6>Команда Розробників:</h6>

                    <ul class="list-unstyled">
                        <li>
                            Владислав Дрозд -
                            <a href="#!">https://github.com/VladislavDrozd</a>
                        </li>
                        <li>
                            Рилов Володимир -
                            <a href="#!">https://github.com/VladislavDrozd</a>
                        </li>
                        <li>
                            Анастасія Мустратова -
                            <a href="#!">https://github.com/VladislavDrozd</a>
                        </li>
                    </ul>

                </div>

            </div>


        </div>
        <div class="footer-copyright text-center py-3">© 2020 Миколаїв
        </div>
    </footer>


<script>


    //    function myFunction(x) {
    //
    //      if (x.matches) { // If media query matches
    //            function scrollFunction() {
    //              if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
    //                document.getElementById("navbar").getElementsByClassName("navbar-brand")[0].style.display = "none";
    //              } else {
    //                document.getElementById("navbar").getElementsByClassName("navbar-brand")[0].style.display = "block";
    //              }
    //            }
    //
    //      } else {
    //
    //
    //      }
    //    }


    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
        if (document.body.scrollTop > 99 || document.documentElement.scrollTop > 99) {
            document.getElementById("navbar").style.backgroundColor="rgba(255,255,255,0.9)";
        } else {
            document.getElementById("navbar").style.backgroundColor="rgba(0,0,0,0)";
        }
    }

    //     var x = window.matchMedia("(max-width: 590px)")
    //    myFunction(x) // Call listener function at run time
    //    x.addListener(myFunction) // Attach listener function on state changes




</script>


</body>
</html>
