* {
    box-sizing: border-box;
}


.table-header .row {
    margin: 0;padding: 0; border-collapse: collapse;
}  .table-header .col-1 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-2 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-3 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-4 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-5 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-6 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-7 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-8 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-9 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-10 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-11 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-12 {
    margin: 0; padding: 0; border-collapse: collapse;
}

article .row {
    margin: 0; padding: 0; width: auto;
}

.table-header {
    background-color: #204969;
    color: white;
}

.table-header .header-cell {
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;
}
.abt {
    border-top: white 2px solid;
}
.abr {
    border-right: white 2px solid;
}
.abb {
    border-bottom: white 2px solid;
}
.abl {
    border-left: white 2px solid;
}

.row.month {
    background-color: darkcyan;
     margin: 0; padding: 0;
}
.row.month .row {
    margin: 0; padding: 0;
}


/*BUTTONS*/
.button-expand-collapse {
    margin: 2px 0 2px 0;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    color: black;
}
.button-expand-collapse:hover {
    background-color: black;
    color: white;
}



 /*MONTH RECORDS*/
.month-background-color-even {
    background-color: #bdfffd;
}
.month-background-color-odd {
    background-color: #96f8ff;
}

.month .month-cell {
    text-align: center;
}

/*DAYS RECORDS*/
.day-background-color-even {
    background-color: #ffdbdd;
}
.day-background-color-odd {
    background-color: #ffe6e7;
}

.day .day-cell {
    text-align: center;
}

/*RECORD RECORDS*/
.record-background-color-even {
    background-color: #fdffe0;
}
.record-background-color-odd {
    background-color: #fbffc9;
}

.record .record-cell {
    display: flex;
}

.record .col-1.dropdown.record-cell {
    padding: 1px 0 1px 0;
}
.record .col-1.dropdown.record-cell > .btn-action {
    padding: 0;
    margin: 0;
    width: 100%;
}

.record .record-cell > .record-cell-child {
    margin: auto;
}
.record .record-note-cell {
    text-align: left;
}

/*MODAL WINDOW CREATE/UPDATE RECORD*/
.modal-backdrop.fade {
    opacity: 0.5;
}
.modal.fade.ng-isolate-scope.in.fade:not(.show) {
    opacity: 1;
}
.modal-dialog.modal-lg {
    top: 20%;
}

.modal-header {
    background-color: #0056b3;
    color: white;
    font-size: xx-large;
    font-family: Andalus, serif;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

.modal-body > .row {
    margin-bottom: 10px;
}

.add-record-button > .btn .btn-outline-success .btn-lg .btn-block {
    background-color: #bdffca;
}