* {
    box-sizing: border-box;
}

.table-header{
    margin-right: 15px;
    margin-left: 15px;
}

.table-header .row {
    margin: 0;padding: 0; border-collapse: collapse;
}  .table-header .col-1 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-2 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-3 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-4 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-5 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-6 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-7 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-8 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-9 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-10 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-11 {
    margin: 0; padding: 0; border-collapse: collapse;
}  .table-header .col-12 {
    margin: 0; padding: 0; border-collapse: collapse;
}


.table-records{
    position: relative;
    min-height: 70vh;
}

.small .col-1, .small .col-2{
    border-right: 1px solid white;
}

.month .row{
    padding-top: 5px;
}




article .row {
    margin: 0; padding: 0; width: auto;
}

.table-header {
    background-color: #204969;
    color: white;
}

.table-header .header-cell {
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;
}
.abt {
    border-top: white 2px solid;
}
.abr {
    border-right: white 2px solid;
}
.abb {
    border-bottom: white 2px solid;
}
.abl {
    border-left: white 2px solid;
}

.row.month {
    background-color: darkcyan;
     margin: 0; padding: 0;
}
.row.month .row {
    margin: 0; padding: 0;
}



/*BUTTONS*/
.button-expand-collapse {
    margin: 2px 0 2px 0;
    width: 100%;
    /*border-radius: 10px;*/
    border: none;
    /*background-color: white;*/
    color: black;
    background-color: rgba(255,255,255,0.5);
}

.btn-primary{
    font-size: 17px;
    border-radius: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color:black;
}

.btn-outline-warning{
    width: 30%;
    height: 35px;
    border-color: rgba(222, 128, 37, 0.6);
    border-radius: 8px;
}

.btn-outline-warning:hover,.btn-outline-warning:active{
    color:white;
    background-color: rgb(222, 128, 37);
    border-color: rgba(222, 128, 37, 0.6);
}


.btn-outline-primary{
    width: 30%;
    height: 35px;
    border-color: rgb(38, 132, 237);
    border-radius: 8px;
}

.btn-outline-primary:hover, .btn-outline-primary:active{
    color:white;
    border-color: rgb(19, 86, 160);
    background-color:rgba(19, 86, 160, 0.8);
}

.btn-primary:hover{
    background-color: #204969;
    color:white;
}
/*

.button-expand-collapse:hover {
    background-color: black;
    color: white;
}
*/

.small .button-expand-collapse{
    background: none;
    border: none;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -20px!important;
}

.small .button-expand-collapse:focus, .small .button-expand-collapse:active, .small .button-expand-collapse:hover{
    outline: none;
    border: none;
    background:none;
    color: black;
}








 /*MONTH RECORDS*/
.month-background-color-even {
    background-color: #bdfffd;
}
.month-background-color-odd {
    background-color: #96f8ff;
}

.month .month-cell {
    text-align: center;
}

/*DAYS RECORDS*/
.day-background-color-even {
    background-color: #ffdbdd;
}
.day-background-color-odd {
    background-color: #ffe6e7;
}

.day .day-cell {
    text-align: center;
}

/*RECORD RECORDS*/
.record-background-color-even {
    background-color: #fdffe0;
}
.record-background-color-odd {
    background-color: #fbffc9;
}

.record .record-cell {
    display: flex;
}

.record .col-1.dropdown.record-cell {
    padding: 1px 0 1px 0;
}
.record .col-1.dropdown.record-cell > .btn-action {
    padding: 0;
    margin: 0;
    width: 100%;
}

.record .record-cell > .record-cell-child {
    margin: auto;
    display: block;
}
.record .record-note-cell {
    text-align: left;
}

.record .tatte-fur-kinder-card {
    position: relative;
}

.record .tatte-fur-kinder-card > .client-card {
    position: absolute;
    background-color: white;
    top: 100%;
    width: 200%;
    height: auto;
    opacity: 0.9;
    font-size: small;
}

/*MODAL WINDOW CREATE/UPDATE RECORD*/
.modal-backdrop.fade {
    opacity: 0.5;
}
.modal.fade.ng-isolate-scope.in.fade:not(.show) {
    opacity: 1;
}
.modal-dialog.modal-lg {
    top: 20%;
}

.modal-header {
    background-color: #0056b3;
    color: white;
    font-size: xx-large;
    font-family: Andalus, serif;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

.modal-body > .row {
    margin-bottom: 10px;
}

.add-record-button > .btn .btn-outline-success .btn-lg .btn-block {
    background-color: #bdffca;
}
/*

@media (max-width:1500px){
    .table-header .header-cell{
        font-size: 12px!important;
    }
    article .row .col-12 .small{
        font-size: 12px!important;
    }

    article .row .col-12 {
        font-size: 13px!important;
    }

    .small .button-expand-collapse{
        background: none;
        border: none;
        font-size: 14px;
    }

   !* .table-header{
        margin-left: 1px;
        margin-right: 1px;
    }
    article .row .col-12{
        padding-right: 1px;
        padding-left: 1px;
    }*!


}*/
